<h1 class="header-id"><%= location_reviews_header(@user) %></h1>

<table class="table table-hover">
  <thead>
  	<th colspan="4">City</th>
  	<th colspan="4">Rating</th>
  	<th colspan="4">Feedback</th>
  </thead>
	<% @location_reviews.each do |lr| %>
		<tr>
			<td colspan="4"><%= lr.city %></td>
			<td colspan="4"><%= lr.rating %></td>
			<td colspan="4"><%= lr.feedback %></td>
			<td colspan="4">
				<% if lr.lr_id.blank? && @user == current_user %>
					<%= link_to "Add Review", new_location_review_path(visited_location_id: lr.id) %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
