<!DOCTYPE html>
<html>
  <head>
    <title>TripExperienceSharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render 'layouts/header' %>
    </div>

    <% if current_user %>
      <div class="side-div">
        <%= render 'layouts/side_bar' %>
      </div>
    <% end %>

    <div class="body-div">
      <div class="row" >
        <div class="col-md-9" >
          <div class="notice alert-success notice-msg">
            <% if notice %>
              <%= notice %>
            <% end %>
          </div>  
          <p class="notice alert-danger alert-msg">
            <% if alert %>  
              <%= alert %>
            <% end %> 
          </p>  
          <%= yield %>
        </div>  
      </div>
    </div> 

  </body>
</html>
